<h1 class="text-4xl py-4 font-extrabold text-gray-800 tracking-tight">
  積みゲーメモ
</h1>

<div class="my-4 text-gray-800 ">
  「積みゲーメモ」は遊んでいないゲームを楽しく記録しながら管理するのが目的のアプリです。<br>
  日々の進捗を管理し、レビューを残すことでより良いゲーム体験につながります。
</div>

<div class="space-y-4">
  <%= link_to "今すぐはじめる (新規登録)", new_user_path, class: "btn-primary" %>
  <%= link_to "ログイン", new_session_path, class: "btn-secondary" %>
</div>

