<h1 class="text-4xl font-extrabold text-gray-800 tracking-tight">積みゲーメモ（仮）</h1>

<div class="mt-3 text-gray-800">
  買ったまま眠っているゲームを、<br>
  楽しく管理して崩そう！
</div>

<div class="space-y-4">
  <%= link_to "今すぐはじめる (新規登録)", new_user_path, class: "btn btn-primary" %>
  <%= link_to "ログイン", new_session_path, class: "btn btn-secondary" %>
</div>

